<nav class="navbar navbar-dark bg-dark">
  <div class="navbar-nav" style="flex-direction: row;">
    <a class="nav-item nav-link" routerLink="/highlight" style="padding-right:10px">Highlight</a>
    <a class="nav-item nav-link" routerLink="/profile" style="padding-right:10px">Profile</a>
    <a class="nav-item nav-link" routerLink="/select" style="padding-right:10px">Select</a>
    <a class="nav-item nav-link" routerLink="/table" style="padding-right:10px">Table</a>
    <a class="nav-item nav-link" routerLink="/user" style="padding-right:10px">User</a>
  </div>
</nav>
