<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>ReimbursementApp</display-name>
  <servlet>
    <description></description>
    <display-name>HomeServlet</display-name>
    <servlet-name>HomeServlet</servlet-name>
    <servlet-class>com.adora.servlets.HomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeServlet</servlet-name>
    <url-pattern>/home</url-pattern>
    <url-pattern></url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.adora.servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewRequestServlet</display-name>
    <servlet-name>NewRequest</servlet-name>
    <servlet-class>com.adora.servlets.NewRequestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewRequest</servlet-name>
    <url-pattern>/requests/new</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RequestApiServlet</display-name>
    <servlet-name>RequestApiServlet</servlet-name>
    <servlet-class>com.adora.servlets.RequestApiServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestApiServlet</servlet-name>
    <url-pattern>/api/requests</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RequestServlet</display-name>
    <servlet-name>RequestServlet</servlet-name>
    <servlet-class>com.adora.servlets.RequestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestServlet</servlet-name>
    <url-pattern>/requests</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.adora.servlets.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProfileServlet</display-name>
    <servlet-name>ProfileServlet</servlet-name>
    <servlet-class>com.adora.servlets.ProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfileServlet</servlet-name>
    <url-pattern>/profile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeApiServlet</display-name>
    <servlet-name>EmployeeApiServlet</servlet-name>
    <servlet-class>com.adora.servlets.EmployeeApiServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeApiServlet</servlet-name>
    <url-pattern>/api/employees</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CredentialApiServlet</display-name>
    <servlet-name>CredentialApiServlet</servlet-name>
    <servlet-class>com.adora.servlets.CredentialApiServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CredentialApiServlet</servlet-name>
    <url-pattern>/api/credentials</url-pattern>
  </servlet-mapping>
</web-app>