<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.url">jdbc:oracle:thin:@respinosajavabatch.cpzbsrrnrt3i.us-east-2.rds.amazonaws.com:1521:ORCL</property>
		<property name="hibernate.connection.username">RodrigoEspinosa95</property>
		<property name="hibernate.connection.password">gin_Tama164!?</property>
		
		<property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
		<property name="hibernate.show_sql">false</property>
		<property name="hibernate.hbm2ddl.auto">update</property>
		
		<property name="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</property>
		
		<mapping resource="mapping/Account.hbm.xml"></mapping>
		
		
		
	</session-factory>
	
</hibernate-configuration>