<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>Project1</display-name>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.revature.servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.revature.servlets.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProfileServlet</servlet-name>
    <servlet-class>com.revature.servlets.ProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfileServlet</servlet-name>
    <url-pattern>/profile</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SubmitServlet</servlet-name>
    <servlet-class>com.revature.servlets.SubmitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubmitServlet</servlet-name>
    <url-pattern>/submit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PendingServlet</servlet-name>
    <servlet-class>com.revature.servlets.PendingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PendingServlet</servlet-name>
    <url-pattern>/pending</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ResolvedServlet</servlet-name>
    <servlet-class>com.revature.servlets.ResolvedServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResolvedServlet</servlet-name>
    <url-pattern>/resolved</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateServlet</servlet-name>
    <servlet-class>com.revature.servlets.UpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateServlet</servlet-name>
    <url-pattern>/update</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MngPendingServlet</servlet-name>
    <servlet-class>com.revature.servlets.MngPendingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MngPendingServlet</servlet-name>
    <url-pattern>/mngpending</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ApproveServlet</servlet-name>
    <servlet-class>com.revature.servlets.ApproveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApproveServlet</servlet-name>
    <url-pattern>/approve</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DenyServlet</servlet-name>
    <servlet-class>com.revature.servlets.DenyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DenyServlet</servlet-name>
    <url-pattern>/deny</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MngResolvedServlet</servlet-name>
    <servlet-class>com.revature.servlets.MngResolvedServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MngResolvedServlet</servlet-name>
    <url-pattern>/mngresolved</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EmployeesServlet</servlet-name>
    <servlet-class>com.revature.servlets.EmployeesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeesServlet</servlet-name>
    <url-pattern>/employees</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EmpReimServlet</servlet-name>
    <servlet-class>com.revature.servlets.EmpReimServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmpReimServlet</servlet-name>
    <url-pattern>/empReim</url-pattern>
  </servlet-mapping>
</web-app>