<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>Project1</display-name>
  <servlet>
    <servlet-name>ManagerLogin</servlet-name>
    <servlet-class>servlets.ManagerLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagerLogin</servlet-name>
    <url-pattern>/ManagerLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EmployeeLogin</servlet-name>
    <servlet-class>servlets.EmployeeLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeLogin</servlet-name>
    <url-pattern>/EmployeeLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ManagerHomepageServlet</servlet-name>
    <servlet-class>servlets.ManagerHomepageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagerHomepageServlet</servlet-name>
    <url-pattern>/ManagerHomepageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ApprovedRequestsServlet</servlet-name>
    <servlet-class>servlets.ApprovedRequestsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApprovedRequestsServlet</servlet-name>
    <url-pattern>/ApprovedRequestsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PendingRequestsServlet</servlet-name>
    <servlet-class>servlets.PendingRequestsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PendingRequestsServlet</servlet-name>
    <url-pattern>/PendingRequestsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeesServlet</display-name>
    <servlet-name>EmployeesServlet</servlet-name>
    <servlet-class>servlets.EmployeesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeesServlet</servlet-name>
    <url-pattern>/EmployeesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeePendingServlet</display-name>
    <servlet-name>EmployeePendingServlet</servlet-name>
    <servlet-class>servlets.EmployeePendingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeePendingServlet</servlet-name>
    <url-pattern>/EmployeePendingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeApprovedServlet</display-name>
    <servlet-name>EmployeeApprovedServlet</servlet-name>
    <servlet-class>servlets.EmployeeApprovedServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeApprovedServlet</servlet-name>
    <url-pattern>/EmployeeApprovedServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeHome</display-name>
    <servlet-name>EmployeeHome</servlet-name>
    <servlet-class>servlets.EmployeeHome</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeHome</servlet-name>
    <url-pattern>/EmployeeHome</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SubmitRequestServlet</display-name>
    <servlet-name>SubmitRequestServlet</servlet-name>
    <servlet-class>servlets.SubmitRequestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubmitRequestServlet</servlet-name>
    <url-pattern>/SubmitRequestServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeProfileServlet</display-name>
    <servlet-name>EmployeeProfileServlet</servlet-name>
    <servlet-class>servlets.EmployeeProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeProfileServlet</servlet-name>
    <url-pattern>/EmployeeProfileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateInfoServlet</display-name>
    <servlet-name>UpdateInfoServlet</servlet-name>
    <servlet-class>servlets.UpdateInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateInfoServlet</servlet-name>
    <url-pattern>/UpdateInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManagerApproveServlet</display-name>
    <servlet-name>ManagerApproveServlet</servlet-name>
    <servlet-class>servlets.ManagerApproveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagerApproveServlet</servlet-name>
    <url-pattern>/ManagerApproveServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManagerViewSingleEmployee</display-name>
    <servlet-name>ManagerViewSingleEmployee</servlet-name>
    <servlet-class>servlets.ManagerViewSingleEmployee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagerViewSingleEmployee</servlet-name>
    <url-pattern>/ManagerViewSingleEmployee</url-pattern>
  </servlet-mapping>
</web-app>