<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.url">jdbc:oracle:thin:dboulos.cv36tvcn8gsq.us-east-2.rds.amazonaws.com:1521/ORCL</property>
		<property name="hibernate.connection.username">mboulos</property>
		<property name="hibernate.connection.password">lucasking</property>
		
		<property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
	
		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.hbm2ddl.auto">update</property>
		
		<mapping class="com.revature.bank.Account" />
		<mapping class="com.revature.bank.Transaction" />
		<mapping class="com.revature.bank.User" />
	</session-factory>
</hibernate-configuration>