:root {
    /*Here are colors that can be changed to fit the theme you want your site to have*/
    
    /*--color-c1 : Background Color*/
    /*--color-c2 : Menu Color*/
    /*--color-c3 : Minor Text*/
    /*--color-c4 : Main Text and Button Highlight Color*/
    
    /*My Theme*/
    --color-c1 : #FFFFFF;
    --color-c2 : #D5BFc3;
    --color-c3 : #8d8587;
    --color-c4 : #3B000A;
    
    /*Revature Theme*/
    /* --color-c1: #FFFFFF;
    --color-c2: #474443;
    --color-c3: #8d8587;
    --color-c4: #ff5e14; */
    
}

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid var(--color-c4);
  -webkit-text-fill-color: var(--color-c4);
  -webkit-box-shadow: 0 0 0px 1000px var(--color-c1) inset;
  box-shadow: 0 0 0px 1000px var(--color-c1) inset;
  transition: background-color 5000s ease-in-out 0s;
}

body {
    background-color: var(--color-c1);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: var(--color-c4);
}

.minor {
    color: var(--color-c3);
}

#myNavigation {
    background-color: var(--color-c2);
}

.myBrand {
    color: var(--color-c4);
    font-size: 25px;
}
.myBrand:hover {
    color: var(--color-c4);
}
a.myLink {
    color: var(--color-c4);
}
a.myLink:hover {
    color: var(--color-c1);
}

a.myLink:active {
    color: var(--color-c1);
}

button.myButton {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    background-color: var(--color-c2);
    border: 2px solid var(--color-c4);
    color: var(--color-c4);
}

button.myButton:hover {
    background-color: var(--color-c4);
    color: var(--color-c2);
}


.myJumbotron {
    background-color: var(--color-c2);
}

.myCredentialsMenu {
    max-width: 550px;
}

#makeRequestContent {
    max-width: 700px;
}

#profile {
    max-width: 250px;
    text-align: left;
}
