body{
    background-color: #A8A7A7;
}

h1{
    text-align: center;
}

h3{
    text-align: center;
}

#pageLinks{
    background-color: white;
    text-align: center;
}

#logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width : 500px;
    height : 300px;
}

#info{
    display: block;
    margin-left: 300px;
    margin-right: 300px;
}

#villainInfo{
    display: block;
    margin-left: 200px;
    margin-right: 200px;
}

#homepage{
    display: block;
    margin-left: 200px;
    margin-right: 200px;
}

table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
}