<nav class="navbar navbar-inverse">
	<div class="container-fluid">
		<ul class="nav navbar-nav">
			<li><a href="#!/manager">Home</a></li>
			<li><a href="#!/manager_account">My Account</a></li>
			<li class="active"><a>Add Employee</a></li>
		</ul>
		<ul class="nav navbar-nav navbar-right">
			<li><a ng-click="logout()" href="#!/"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
		</ul>
	</div>
</nav>

<section ng-controller="createNewUserController">
	 <div class="jumbotron" style="width: 80%; margin: auto;">
	 <h2>Create an Account</h2>
	 <!-- Managers have the ability to create new users -->
	 <!-- fields for employees, also one for figuring if one is a manager or employee -->
		<table id="user" class="table table-striped table-bordered">
			<tbody>
				<form>
						<tr>
							<td width="35%"><label for="uname">Username:</label></td>
							<td width="65%">
								<div class="form-group">
									<input type="text" class="form-control" id="uname" ng-model="create_usrnm">
								</div>
							</td>
						</tr>
		
						<tr>
							<td width="35%"><label for="pwd">Password:</label></td>
							<td width="65%">
								<div class="form-group">
									<input type="password" class="form-control" id="pwd" ng-model="create_pass">
									</div>
							</td>
						</tr>
		
						<tr>
							<td width="35%"><label for="first_n">First Name:</label></td>
							<td width="65%">
								<div class="form-group">
									<input type="text" class="form-control" id="first_n" ng-model="create_fname">
								</div>
							</td>
						</tr>
		
						<tr>
							<td width="35%"><label for="Last_n">Last Name:</label> </td>
							<td width="65%">
								<div class="form-group">
									<input type="text" class="form-control" id="last_n" ng-model="create_lname">
								</div>
							</td>
						</tr>
		
						<tr>
							<td width="35%"><label for="Last_n"><label for="email">Email:</label></label> </td>
							<td width="65%">
								<div class="form-group">
									<input type="email" class="form-control" id="email" ng-model="create_email">
								</div>
							</td>
						</tr>
		
		
						<tr>
							<td width="35%"><label for="EmpOrMan">Are you an Employee or Manager:</label></td>
							<td width="65%">
								<div class="form-group">
									<select class="form-control" id="sel1" ng-model="create_role">
										<option value=1>Employee</option>
										<option value =2>Manager</option>
									</select>
								</div>
							</td>
						</tr>
		
						<tr>
							<td width="35%"></td>
							<td width="65%">
								<font color="{{statusColor}}">{{status}}</font><br/>
								<button type="submit" class="btn btn-default" ng-click="createNewUser(create_usrnm, create_pass, create_fname, create_lname, create_email, create_role)">Submit</button>
							<td>
						</tr>
				</form>
			</tbody>
		</table>
	 </div>
</section>