<div class='container'>
  <table class="table table-striped table-bordered table-hover table-sm">
      <thead>
          <tr>
              <th>
                  <p>Id</p>
              </th>
              <th>
                  <p>Name</p>
              </th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor='let user of users'>
              <td>
                  <p>{{user.id}}</p>
              </td>
              <td>
                  <p>{{user.name}}</p>
              </td>
          </tr>
      </tbody>
  </table>
</div>