<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>ExpenseRequestSys</display-name>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.Revature.servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.Revature.servlets.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewEmployeeServlet</display-name>
    <servlet-name>NewEmployeeServlet</servlet-name>
    <servlet-class>com.Revature.servlets.NewEmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewEmployeeServlet</servlet-name>
    <url-pattern>/newemployee</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HomeServlet</display-name>
    <servlet-name>HomeServlet</servlet-name>
    <servlet-class>com.Revature.servlets.HomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeServlet</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InfoServlet</display-name>
    <servlet-name>InfoServlet</servlet-name>
    <servlet-class>com.Revature.servlets.InfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InfoServlet</servlet-name>
    <url-pattern>/info</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExpenseServlet</display-name>
    <servlet-name>ExpenseServlet</servlet-name>
    <servlet-class>com.Revature.servlets.ExpenseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExpenseServlet</servlet-name>
    <url-pattern>/myexpenses</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewExpenseRequestServlet</display-name>
    <servlet-name>NewExpenseRequestServlet</servlet-name>
    <servlet-class>com.Revature.servlets.NewExpenseRequestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewExpenseRequestServlet</servlet-name>
    <url-pattern>/newexpense</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SettingsServlet</display-name>
    <servlet-name>SettingsServlet</servlet-name>
    <servlet-class>com.Revature.servlets.SettingsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SettingsServlet</servlet-name>
    <url-pattern>/settings</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExpenseInfoServlet</display-name>
    <servlet-name>ExpenseInfoServlet</servlet-name>
    <servlet-class>com.Revature.servlets.ExpenseInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExpenseInfoServlet</servlet-name>
    <url-pattern>/expenses</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewEmployees</display-name>
    <servlet-name>ViewEmployees</servlet-name>
    <servlet-class>com.Revature.servlets.ViewEmployees</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewEmployees</servlet-name>
    <url-pattern>/view</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AllInfo</display-name>
    <servlet-name>AllInfo</servlet-name>
    <servlet-class>com.Revature.servlets.AllInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AllInfo</servlet-name>
    <url-pattern>/allinfo</url-pattern>
  </servlet-mapping>
</web-app>