<h4>Highlight Component</h4>
<div (mouseenter)='setHighlight()'  (mouseleave)='removeHighlight()' [ngStyle]="{'background-color': color}">
  <p>Cat ipsum dolor sit amet, cat slap dog in face intrigued by the shower or yowling nonstop the whole night human is washing
    you why halp oh the horror flee scratch hiss bite. Bathe private parts with tongue then lick owner's face jumps off balcony
    gives owner dead mouse at present then poops in litter box snatches yarn and fights with dog cat chases laser then plays
    in grass finds tiny spot in cupboard and sleeps all day jumps in bathtub and meows when owner fills food dish the cat
    knocks over the food dish cat slides down the water slide and into pool and swims even though it does not like water.
    See owner, run in terror mew dead stare with ears cocked and meowzer so destroy couch as revenge. Play riveting piece
    on synthesizer keyboard scoot butt on the rug for behind the couch ooh, are those your $250 dollar sandals? lemme use
    that as my litter box see owner, run in terror scratch leg; meow for can opener to feed me. Attempt to leap between furniture
    but woefully miscalibrate and bellyflop onto the floor; what's your problem? i meant to do that now i shall wash myself
    intently damn that dog leave fur on owners clothes but sniff other cat's butt and hang jaw half open thereafter so kitty
    kitty yet see owner, run in terror. Sleep nap burrow under covers. Touch water with paw then recoil in horror put toy
    mouse in food bowl run out of litter box at full speed catasstrophe, love and meow in empty rooms and give attitude,
    but cat mojo . Lick human with sandpaper tongue meow what a cat-ass-trophy!, for rub whiskers on bare skin act innocent
    love to play with owner's hair tie.</p>

  <p>Crash against wall but walk away like nothing happened chew the plant. Gate keepers of hell love you, then bite you. I
    can haz pelt around the house and up and down stairs chasing phantoms run around the house at 4 in the morning but sniff
    all the things or your pillow is now my pet bed but chew the plant. Cats making all the muffins ooh, are those your $250
    dollar sandals? lemme use that as my litter box yet fall asleep upside-down cats are fats i like to pets them they like
    to meow back or catch mouse and gave it as a present. Yowling nonstop the whole night sleep milk the cow.</p>
</div>