<div>
  <div>
    <br>
    <button (click)="showOrHide()">{{showHide}} {{user.name}}</button>
  </div>
  <br>
  <br>
  <div id="info">
    <div>
      <label>Name:</label>
      {{user.name}}
    </div>
    <br>
    <div>
      <label>Species:</label>
      {{user.species}}
    </div>
    <br>
    <div>
      <label>Height:</label>
      {{user.height}}
    </div>
    <br>
    <div>
      <label>Last Food Eaten:</label>
      {{user.lastFoodEaten}}
    </div>
    <br>
    <div>
      <label>Profile Picture:</label>
      <img src={{user.url}} style="height:600px">
    </div>
  </div>
</div>
