@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:100,300,400,600,700');



.panel-heading{
	background-color: f36b27;
}

.table-danger{
    border-radius: 70px;
    background-color: #ff9999;
    padding-left: 31px;  
    padding-right: 29px;  
    width: 160px;
	padding-bottom: 9px;
    padding-top: 4px; 

}
.table-success{
    border-radius: 70px;
    background-color: #ccffcc;
    padding-left: 20px;  
    padding-right:20px;
    padding-bottom: 9px;
    padding-top: 4px;
    width: 160px;

}


.login{
   font-family: 'Josefin Sans', sans-serif;
   background: #fbfbfb; 
   padding:40px 0px;
}

label{
    font-weight:400;
    font-size:15px;
}
 
.login-box{
    -webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.24);
    -moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.24);
    box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.24);
    padding:0px;
    background:orange;
}

.left-box{
	padding:50px;
	color:#FFF;
}

.left-box h1{
	font-weight:600;
    font-family: 'Josefin Sans', sans-serif;
    text-transform:capitalize;
    color:#FFF;
    font-size:32px;
}

.right-box{
	background:#FFF;
	min-height:520px;
}

.right-box h1{
	font-weight:600;
    font-family: 'Josefin Sans', sans-serif;
    color:#444;
    font-size:32px;
    padding:50px;
}
	
.form{
    padding:20px 30px;
}

.form-control{
    box-shadow: none;
    border-radius: 0px;
    border-bottom: 1px solid #2196f3;
    border-top: 1px;
    border-left: none;
    border-right: none;
}

.btn{
    font-weight: 700;
    font-size:15px;
    color:#FFF;
    border-radius: 0;
    background: #78d46e;
    padding:1px 30px;
    float:right;
    margin-top:10px;
}

.btn:hover{
    border:2px solid #78d46e;
    background:#FFF;
}

input[type=text], input[type=password], input[type=email] {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #d2d2d2;
    border-radius: 0;
    margin-bottom:50px;
    box-shadow: none;
}

input[type=text]:focus, input[type=password]:focus, input[type=email]:focus {
    box-shadow: none;
    border-bottom: 1px solid #78d46e;
}

.form2 {
    padding:30px 0px;
}

.white-btn{
    background:#FFF;
    color:#78d46e;
}

body{
font-family: 'Open Sans', sans-serif;
}

.custom-tab > li > a {
-webkit-border-radius: 0;
-moz-border-radius: 0;
border-radius: 0;
}
.custom-tab > li {
-webkit-border-radius: 0;
-moz-border-radius: 0;
border-radius: 0;
}

.custom-tab > li > a:link {
    border-top: 4px solid #ff6633;
	border-right: 1px solid #ff6633;
	border-left: 2px solid #ff6633;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:visited {  
   background-color:#00bfff;
    border-top: 3px solid #00bfff;
	border-right: 1px solid #00bfff;
	border-left: 1px solid #ff6633;
	color:#FFF;
    background-color:#00bfff;
}
i{
color:#000;
}
.link-lable{
text-decoration:none;
color:#000;
}
 @media screen and (max-width: 767px)
        {
		
         .link-lable{
			display:none;
		 }
        }
        
        
        
  