<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Profile</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
<script>const id=%;</script>
<link rel="stylesheet" type="text/css" href="./styles/login.css">
</head>
<body>
	<div id="box">
	<div class="container">
	<div class="navBar">
		<a href="./home"><span class="navLink btn btn-outline-danger" id="homelink">Home</span></a>
		<a href="./logout"><span class="navLink btn btn-outline-danger" id="logoutLink">Logout</span></a>
	</div>
	<form action="profile" method="post">
	<div class="table">
		<div class="row">
			<span class="col-lg-6"><h3 id="profileTitle"></h3></span>
			<span class="col-lg-6"><h5>Update Info Below</h5></span>
		</div>
		<br>
		<div class="row">
			<span class="col-lg-2"><h6>Username: </h6></span>
			<span class="col-lg-4"><h5 id="profileUsername"></h5></span>
			<span class="col-lg-6"></span>
		</div>
		<br>
		<div class="row">
			<span class="col-lg-2"><h6>Employee ID: </h6></span>
			<span class="col-lg-4"><h5 id="profileEmployeeId"></h5></span>
			<span class="col-lg-6"></span>
		</div>
		<br>
		<div class="row">
			<span class="col-lg-2"><h6>First Name: </h6></span>
			<span class="col-lg-4"><h5 id="profileFirstname"></h5></span>
			<span class="col-lg-6"><input type="text" class="form-control" placeholder="Change First Name" name="firstname"></span>			
		</div>
		<br>
		<div class="row">
			<span class="col-lg-2"><h6>Last Name: </h6></span>
			<span class="col-lg-4"><h5 id="profileLastname"></h5></span>
			<span class="col-lg-6"><input type="text" class="form-control" placeholder="Change Last Name" name="lastname"></span>
		</div>
		<br>
		<div class="row">
			<span class="col-lg-2"><h6>Birthday: </h6></span>
			<span class="col-lg-4"><h5 id="profileBirthday"></h5></span>
			<span class="col-lg-6"><input type="date" class="form-control" name="dob"></span>
		</div>
		<br>
		<div class="row">
			<span class="col-lg-2"><h6>Phone Number: </h6></span>
			<span class="col-lg-4"><h5 id="profilePhone"></h5></span>
			<span class="col-lg-6"><input type="number" min="1" max="9999999999" step="1" placeholder="10 Digits" class="form-control" name="phone"></span>
		</div>
		<br>
		<div class="row">
			<span class="col-lg-2"><h6>Email: </h6></span>
			<span class="col-lg-4"><h5 id="profileEmail"></h5></span>
			<span class="col-lg-6"><input type="email" class="form-control" name="email"></span>
		</div>
		<br>
		<div class="row">
			<span class="col-lg-10"></span>
			<span class="col-lg-2"><input type="submit" class="btn btn-outline-warning"></span>
		</div>
	</div>
	</form>
	</div>
	</div>
<script src="./scripts/profile.js"></script>
</body>
</html>