<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Your Requests</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
<script>const id=%;</script>
<link rel="stylesheet" type="text/css" href="./styles/login.css">
</head>
<body>
	<div id="box">
	<div class="container">
		<div class="navBar">
			<a href="./home"><span class="navLink btn btn-outline-danger" id="homelink">Home</span></a>
			<a href="./logout"><span class="navLink btn btn-outline-danger" id="logoutLink">Logout</span></a>
		</div>
		<div class="table">
			<div class="row">
				<span class="col-lg-6 centered">
				<h4 id="requestsTitle"></h4>
				<br>
				<h4>Request Information</h4>
				<div id="requestDetails" class="light">
					<label><strong>Request ID:</strong></label><span>   </span><span id="detailsRID"></span>
					<br>
					<label><strong>Employee ID:</strong></label><span>   </span><span id="detailsEID"></span>
					<br>
					<label><strong>Amount:</strong></label><span>   </span><span id="detailsAmount"></span>
					<br>
					<label><strong>Created:</strong></label><span>   </span><span id="detailsCreated"></span>
					<br>
					<label><strong>Status:</strong></label><span>   </span><span id="detailsStatus"></span>
					<br>
					<label><strong>Details:</strong></label><span>   </span><span id="detailsDetails"></span>
				</div>
				<br>
				<div id="newRequest" class="light">
				<h5>Submit New Request</h5>
				<form action="requests" method="post">
					<div><label>Amount: </label><input class="form-control" type="number" min="0" max="99999.99" step="0.01" name="amount"></div>
					<div><label>Details: </label></div>
					<div><textarea class="form-control" rows="25" cols="25" name="requesttext"></textarea></div>
					<div><input class="btn btn-outline-warning" type="submit" value="Submit"></div>
				</form>
				</div>
				</span>
				<span class="col-lg-6 centered light">
					<table id="employeeRequests">
						<thead>
							<tr>
								<th>Request ID</th>
								<th>Date Created</th>
								<th>Status</th>
								<th>View</th>
							</tr>
						</thead>
						<tbody id="employeeRequestsTable">
							
						</tbody>
					</table>
				</span>
			</div>
		</div>
	</div>
	</div>
<script src="./scripts/requests.js"></script>
</body>
</html>