.navbar{
    width: 100%;
    background-color: hsla(219, 79%, 66%, 0.9);
    padding-bottom:15px;
    padding-top: 15px;
    border: 0px solid black;
    border-bottom-width: 2px;

    margin: 0px;
}

body{
    margin:0;
    background: url(./img/medieur.png) no-repeat fixed;
}

h1{
    margin: 0;
}

.background-default{
    background-color: hsla(120, 25%, 65%, 0.8);
    width: 65%;
    height: 100%;
    padding: 5% 5% 25%;
    margin-left: auto;
    margin-right: auto;
}

.center{
}