h1, h2, h3, h4, h5, h6 {
    background-color: black;
    color: white;
}
.links {
    color: black;
    font-weight: bolder;
}
#photo {
    display: block;
    border: 5px;
    border-color: red;
    border-style: dashed;
}
.boldText {
    font-weight: bold;
}
#notFun {
    text-decoration: underline;
}