#outer
{
    width:100%;
    text-align: left;
}
#elmo
{
    background-color: tomato;
}
#textbox
{
    text-align: center;
}
.bird
{
    padding: 30px;
    vertical-align: -150px;
}
.inner
{
    display: inline-block;
}
h1
{
    font-size: 100px;
    text-align: center;
    font-style: italic;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: firebrick;
}