<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>project1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SessionServlet</display-name>
    <servlet-name>SessionServlet</servlet-name>
    <servlet-class>servlets.SessionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionServlet</servlet-name>
    <url-pattern>/SessionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>servlets.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewEmployee</display-name>
    <servlet-name>NewEmployee</servlet-name>
    <servlet-class>servlets.NewEmployee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewEmployee</servlet-name>
    <url-pattern>/NewEmployee</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetManagerServlet</display-name>
    <servlet-name>GetManagerServlet</servlet-name>
    <servlet-class>servlets.GetManagerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetManagerServlet</servlet-name>
    <url-pattern>/GetManagerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetReimbursementById</display-name>
    <servlet-name>GetReimbursementById</servlet-name>
    <servlet-class>servlets.GetReimbursementById</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetReimbursementById</servlet-name>
    <url-pattern>/GetReimbursementById</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetPendingReimbursementById</display-name>
    <servlet-name>GetPendingReimbursementById</servlet-name>
    <servlet-class>servlets.GetPendingReimbursementById</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetPendingReimbursementById</servlet-name>
    <url-pattern>/GetPendingReimbursementById</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetDeniedReimbursementById</display-name>
    <servlet-name>GetDeniedReimbursementById</servlet-name>
    <servlet-class>servlets.GetDeniedReimbursementById</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetDeniedReimbursementById</servlet-name>
    <url-pattern>/GetDeniedReimbursementById</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetApprovedReimbursementById</display-name>
    <servlet-name>GetApprovedReimbursementById</servlet-name>
    <servlet-class>servlets.GetApprovedReimbursementById</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetApprovedReimbursementById</servlet-name>
    <url-pattern>/GetApprovedReimbursementById</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetAllReimbursement</display-name>
    <servlet-name>GetAllReimbursement</servlet-name>
    <servlet-class>servlets.GetAllReimbursement</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAllReimbursement</servlet-name>
    <url-pattern>/GetAllReimbursement</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateRequestServlet</display-name>
    <servlet-name>UpdateRequestServlet</servlet-name>
    <servlet-class>servlets.UpdateRequestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateRequestServlet</servlet-name>
    <url-pattern>/UpdateRequestServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetAllEmployees</display-name>
    <servlet-name>GetAllEmployees</servlet-name>
    <servlet-class>servlets.GetAllEmployees</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAllEmployees</servlet-name>
    <url-pattern>/GetAllEmployees</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewReimbursement</display-name>
    <servlet-name>NewReimbursement</servlet-name>
    <servlet-class>servlets.NewReimbursement</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewReimbursement</servlet-name>
    <url-pattern>/NewReimbursement</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateEmployee</display-name>
    <servlet-name>UpdateEmployee</servlet-name>
    <servlet-class>servlets.UpdateEmployee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateEmployee</servlet-name>
    <url-pattern>/UpdateEmployee</url-pattern>
  </servlet-mapping>
</web-app>