<br>
<div class="container">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Id</th>
                <th scope ="col">Name</th>
                <th scope= "col">Username</th>
                <th scope= "col">Email</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users" >
                <td>{{user.id}}</td>
                <td>{{user.name}}</td>
                <td>{{user.username}}</td>
                <td>{{user.email}}</td>
            </tr>
        </tbody>
    </table>
</div>
