#Submitter{
    height: 50px;
    width: 300px;
    margin: -20px -150px;
    position: relative;
    top:50%;
    left: 50%;
}
.card {
    border-width: 3px;
    border-color: black;
    border-radius: 10%;
}
