html {
    background-image: url("catbox.jpg"); 
    background-repeat: no-repeat;
    background-size: auto;
    background-color: slategrey;  
  }
  
  div {
    width: 450px;
    color: black;
    padding: 25px;
    margin: 25px;
  }