div{
    background-color: lightblue;
}

#Imagination{
 background-color: yellow;
}

#DogRoss{
    display: block;
    padding: 40px;
    border: 10px solid aliceblue;
}

table th{
    border: 1px solid indianred;
    border-collapse: collapse;
}