body {
  margin: 0;
  padding: 5px;
}

.gallery {
  width: 640px;
  margin: 0 auto;
  padding: 5px;
  background: #fff;
  box-shadow: 0 1px 2px rgba(0,0,0,.3);
}

.gallery > div {
  position: relative;
  float: left;
  padding: 5px;
}

.gallery > div > img {
  display: block;
  width: 200px;
  height: 150px;
  transition: .1s transform;
  transform: translateZ(0);
}

.gallery > div:hover {
  z-index: 1;
}

.gallery > div:hover > img {
  transform: scale(1.7,1.7);
  transition: .3s transform;
}

.cf:before, .cf:after {
  display: table;
  content: "";
  line-height: 0;
}

.cf:after {
  clear: both;
}

h1 {
  margin: 40px 0;
  font-size: 30px;
  font-weight: 500;
  text-align: center;
}

p {
  margin: 40px 0;
  font-size: 20px;
  font-weight: 300;
  text-align: center; 
}

.nav ul {
  list-style: none;
  background-color: #444;
  text-align: right;
  padding: 0;
  margin: 0;
}
.nav li {
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #888;
  text-align: center;
}
 
.nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}
 
.nav a:hover {
  background-color: #005f5f;
}
 
.nav a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}
 
@media screen and (min-width: 600px) {
  .nav li {
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
    display: inline-block;
    margin-right: -4px;
  }
}

.form {
  margin:10px auto;
  max-width: 400px;
  padding: 20px 12px 10px 20px;
  font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.form li {
  padding: 0;
  display: block;
  list-style: none;
  margin: 10px 0 0 0;
}

label{
  margin:0 0 3px 0;
  padding:0px;
  display:block;
  font-weight: bold;
}

input,
textarea,
select{
  box-sizing: border-box;
  border:1px solid #BEBEBE;
  padding: 7px;
  margin:0px;
  outline: none; 
}

input:focus,
textarea:focus,
select:focus{
  box-shadow: 0 0 8px #88D5E9;
  border: 1px solid #88D5E9;
}

.field-short {
  width: 49%;
}

.field-long {
  width: 100%;
}
.field-select{
  width: 100%;
}
.field-textarea{
  height: 100px;
}

.form input[type=submit] {
  background: #4B99AD;
  padding: 8px 15px 8px 15px;
  border: none;
  color: #fff;
}

.form input[type=submit]:hover {
  background: #4691A4;
  box-shadow: none;
}

.required{
  color:red;
}