<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Login</title>
<link rel="stylesheet" type="text/css" href="./styles/login.css">
</head>
<body>
	<div id="maindiv">
    <div id="box">
      <form action="login" method="post" id="loginform">
      	<label>Username:</label>
      	<input type="text" name="username">
      	<br>
      	<label>Password:</label>
      	<input type="password" name="password">
      	<br>
      	<input type="submit" value="Login">
      </form>
    </div>
  </div>
</body>
</html>