<p (mouseover)="highlight($event)" (mouseleave)="unhighlight($event)">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam sed tellus id magna elementum tincidunt. Nullam feugiat, turpis
  at pulvinar vulputate, erat libero tristique tellus, nec bibendum odio risus sit amet ante. Ut enim ad minim veniam, quis
  nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Curabitur ligula sapien, pulvinar a vestibulum
  quis, facilisis vel sapien. Nullam dapibus fermentum ipsum. Maecenas lorem. Maecenas fermentum, sem in pharetra pellentesque,
  velit turpis volutpat ante, in pharetra metus odio a lectus. Phasellus rhoncus. Nulla pulvinar eleifend sem. Curabitur
  ligula sapien, pulvinar a vestibulum quis, facilisis vel sapien. Excepteur sint occaecat cupidatat non proident, sunt in
  culpa qui officia deserunt mollit anim id est laborum.</p>

<p (mouseover)="highlight($event)" (mouseleave)="unhighlight($event)">Curabitur sagittis hendrerit ante. Morbi imperdiet, mauris ac auctor dictum, nisl ligula egestas nulla, et sollicitudin sem
  purus in lacus. Proin in tellus sit amet nibh dignissim sagittis. Ut enim ad minima veniam, quis nostrum exercitationem
  ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Nullam faucibus mi quis velit. Itaque earum
  rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus
  asperiores repellat. Donec ipsum massa, ullamcorper in, auctor et, scelerisque sed, est. Et harum quidem rerum facilis
  est et expedita distinctio. Maecenas ipsum velit, consectetuer eu lobortis ut, dictum at dui. In laoreet, magna id viverra
  tincidunt, sem odio bibendum justo, vel imperdiet sapien wisi sed libero. Praesent dapibus. Excepteur sint occaecat cupidatat
  non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Duis viverra diam non justo. Mauris elementum
  mauris vitae tortor.</p>

<p (mouseover)="highlight($event)" (mouseleave)="unhighlight($event)">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nullam dapibus fermentum ipsum.
  Nam sed tellus id magna elementum tincidunt. Proin in tellus sit amet nibh dignissim sagittis. Nunc auctor. Phasellus rhoncus.
  Proin pede metus, vulputate nec, fermentum fringilla, vehicula vitae, justo. Mauris dictum facilisis augue. Phasellus enim
  erat, vestibulum vel, aliquam a, posuere eu, velit. Etiam bibendum elit eget erat. Donec vitae arcu. Curabitur bibendum
  justo non orci. Nullam rhoncus aliquam metus. Aliquam id dolor. In enim a arcu imperdiet malesuada. Nunc auctor. Maecenas
  libero. Etiam sapien elit, consequat eget, tristique non, venenatis quis, ante. Etiam dictum tincidunt diam.</p>

<p (mouseover)="highlight($event)" (mouseleave)="unhighlight($event)">Vivamus porttitor turpis ac leo. Pellentesque pretium lectus id turpis. Ut enim ad minima veniam, quis nostrum exercitationem
  ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Phasellus faucibus molestie nisl. In dapibus
  augue non sapien. Duis viverra diam non justo. Aliquam erat volutpat. Nullam justo enim, consectetuer nec, ullamcorper
  ac, vestibulum in, elit. Nulla quis diam. Morbi leo mi, nonummy eget tristique non, rhoncus non leo. Nam libero tempore,
  cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas
  assumenda est, omnis dolor repellendus. Etiam egestas wisi a erat. Aliquam erat volutpat. Etiam commodo dui eget wisi.
  Cras pede libero, dapibus nec, pretium sit amet, tempor quis.</p>

<p (mouseover)="highlight($event)" (mouseleave)="unhighlight($event)">Pellentesque ipsum. Integer rutrum, orci vestibulum ullamcorper ultricies, lacus quam ultricies odio, vitae placerat pede
  sem sit amet enim. Donec vitae arcu. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe
  eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Pellentesque pretium lectus id turpis. Pellentesque
  sapien. Etiam egestas wisi a erat. Nunc dapibus tortor vel mi dapibus sollicitudin. Ut tempus purus at lorem. In convallis.
  Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos hymenaeos. Etiam egestas wisi a erat.
  Duis sapien nunc, commodo et, interdum suscipit, sollicitudin et, dolor. Curabitur vitae diam non enim vestibulum interdum.
  Pellentesque pretium lectus id turpis.</p>